.header {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.logo_home {
  color: #fff;
  padding-left: 20px;
  text-decoration: none;
  font-size: 30px;
}
.login_home,
btn-success {
  margin-right: 20px;
}
