.header__logo {
  color: #fff;
  padding-right: 20px;
}

.content {
  min-height: calc(100vh - 56px - 54px);
  padding: 1.5rem 0;
}

.footer__btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 1rem;
}
.list-item-img {
  width: 100%;
}
.card {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}
.card-body {
  flex-grow: 1;
  text-align: start;
}
.card__img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}
.sidebar__ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.sidebar__ul li {
  text-decoration: none;
  padding: 10px;
  box-shadow: #ccc 0px 1px 3px;
  margin: 5px;
}
