.header__logo {
  color: #fff;
  padding-right: 20px;
}

.content {
  min-height: calc(100vh - 56px - 54px);
  padding: 1.5rem 0;
}

.footer__btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footer-nav {
  position: fixed;
  z-index: 8;
  width: 100%;
  bottom: 0;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 6rem;
}
.card-content {
  flex-grow: 1;
}
img {
  max-width: 100%;
  margin-top: 1rem;
}
